<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <appSettings>
    <!-- Dave Begin -->
      <!-- AplicaçãoId -->
      <add key="ApplicationId" value="4" />
      <!-- Serviços -->
      <add key="ServicesPath" value="" />
      <!-- SOS Local Redirect (Debug) -->    
      <add key="SOSLocalRedirect" value="~/manager/modulos/perguntas/templates/PerguntaEditar.aspx?mode=edit&amp;id1=1&amp;id2=56&amp;id3=3&amp;id4=2"/>
      <!-- Formato para as tags do formulário  -->
      <add key="GlossarioTag" value="&lt;a href='#' class='info' title='{1}'&gt;{0}&lt;/a&gt;"/>
    <!-- Dave End -->
 
    <!-- FaceBook -->
    <add key="FacebookAppId" value="140202006056609"/>
    <add key="FacebookAppSecret" value="fa80cc600eb34e85c4ba6c2f6b58d6aa"/>
      
    <!-- BackOffice -->
    <add key="BOXmlPath" value="~/manager/xml/DataSets.xml"/>
    <add key="BODataSetXPath" value="//dataSets/*"/>
    

    <!-- Site -->
    <add key="DefaultLanguage" value="1" />
    <add key="SiteXmlPath" value="~/webforms/xml/DataSets.xml"/>
    <add key="SiteDataSetXPath" value="//dataSets/*"/>
    <add key="FEWebRoot" value="http://www.portaldireitosedeveres.pt.ws048.alentus.com/" />
    <add key="URLWebRoot" value="http://www.portaldireitosedeveres.pt.ws048.alentus.com/" />
    
    <!-- Perguntas/Respostas -->
    <add key="PerguntaDescricaoTamanho" value="4000" />
    <add key="PerguntaDescricaoAbreviadaTamanho" value="120" />
    <add key="RespostaDescricaoTamanho" value="2000" />
        
    <!--  -->
    <add key="smtpServerUser" value="d5P0jW68qRc=" />
    <add key="smtpServerPassword" value="x+LWhiyV0b4=" />
    <add key="smtpServer_dns" value="WC7vDowoJmaKtemK7hHv4w==" />
    <add key="smtpServer" value="WC7vDowoJmaKtemK7hHv4w==" />
    <add key="EmailNoReply" value="ffms@ffms.pt" />
    <add key="EmailContacto" value="david.soares@view.pt" />
    <!--"maria.ferreira@ffms.pt, fdias@ffms.pt"-->
    <!-- MAILCHIMP -->
    <add key="MailChimpListID" value="1e012054d0" />
    <add key="MailChimpListID_pt" value="1e012054d0" />
    <add key="MailChimpListID_en" value="ccf49ec3af" />
    <!-- /MAILCHIMP -->
    
    
    <!-- ON-LINE -->
    <add key="ConnectionString" value="GG1Mf0I1ibx9gvVT94cgW0Y5Kh1ykTApFqgKtr/z1FEom8lSPX3J9lCH7zvlBbtiGvTLe7Uj2KZHem+WG1+6Vk+wyPIzeFbzhk/kPYCa4YqCT1jfGgcMTw==" />
    
    <!-- Peview-->
    <!--<add key="ConnectionString" value="GG1Mf0I1ibx9gvVT94cgW0Y5Kh1ykTApFqgKtr/z1FEom8lSPX3J9l5kL4+w3UrErprUQ4IeZ+EiAM2V/wYyKGlXCQwQhU8xxryaGP+ZqzKSOuqeNNEdQQ==" />-->
    
    <!--<add key="ConnectionString.view" value="uC97zgh6HDhdjoFhFdrkiauHiQU2BvVxLRZcLDgr5sT+dQ0Yk86HrZDvZB8usTro1G056xCV3ksMMOzkILX6s3Ym78XOcMMNjqAHMksrSfKSWLS4Jy/qog==" />
    <add key="ConnectionString.toshiba" value="uC97zgh6HDhdjoFhFdrkiXk06ofRg7a3ZfHxTeqO7MCs7dRptEFPpDZmLJ+elDhCVI0FTrmfd/3+afJG4vfpyvZOAuoDsUpV" />-->
    
    <!-- Portátil Toshiba -->

    <!-- ALTERAR PARA COLOCAR ON-LINE -->
    <add key="BOWebRoot" value="/manager" />
    <add key="BOLogin" value="/modulos/comuns/templates/login.aspx" />
    <add key="BOURLStartPage" value="~/manager/modulos/comuns/templates/Empty.aspx" />
    <add key="RecoverPasswordXMLFileTemplatePath" value="data/NovaPassword.xml" />
    <add key="RegistoConfirmacaoXMLFileTemplatePath" value="data/ConfirmacaoRegisto.xml" />
    <add key="logAlertEmail" value="log.alert@view.pt" />
    <add key="URLConfirmaRegisto" value="http://www.portaldireitosedeveres.pt.ws048.alentus.com/webforms/RegistoConfirmacao.aspx" />
    <add key="EmailSignature" value="www.portaldireitosedeveres.pt" />
    <add key="ClientName" value="Portal Direitos e Deveres dos Cidadãos" />
    <add key="ClientNameLong" value="Fundação Francisco Manuel dos Santos" />
    <!-- PDF Converter-->
    <add key="WinnovativeLicenseKey" value="fVZPXUxdTEVPXUtTTV1OTFNMT1NERERE" />
    <!-- Fuso horário em relação ao servidor web. Alentus = 7. PT = 0 -->
    <add key="FusoHorario" value="0" />
    <!-- UPLOADS -->
    <add key="FileUploadFolder" value="/upload/file/" />
    <add key="UploadFolderImagens" value="/upload/imagens/" />
    <add key="UploadFolderDocumentos" value="/upload/docs/" />
    <add key="UploadFolderSwf" value="/upload/swf/" />
    <!-- IMAGENS -->
    <add key="ImagemGaleriaLarguraMaxima" value="2000" />
    <add key="ImagemGaleriaAlturaMaxima" value="2000" />
    <add key="UploadFolderImagens" value="/upload/imagens/" />
    <add key="Imagem1ItemLargura" value="270" />
    <!-- EVO PDF Converter-->
    <add key="EVOHtml2PdfLicenseKey" value="/NfO3M/P3MjJytzO0szcz83Szc7SxcXFxQ==" />
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-pt" />
    <customErrors defaultRedirect="/webforms/500.aspx" mode="Off">
      <error statusCode="404" redirect="/webforms/404.aspx" />
      <error statusCode="500" redirect="/webforms/500.aspx" />
    </customErrors>

    <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="120" />
    <!--
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    -->
    <membership>
      <!--<providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>-->
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.asp" />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="default.html" />
        <add value="default.aspx" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
	<rewrite>
            <rules>
                <rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images|test.php|index.aspx|default.aspx|manager" />
                    <action type="None" />
                </rule>
                <rule name="Rewrite CI Index">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="woff|eot|ttf|css|js|jpg|jpeg|png|gif|ico|htm|html|php|svg|aspx|asp" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    <!--
    <security>
      <authentication>
        <anonymousAuthentication userName="" password="[enc:AesProvider:gZTw6YKaWl9I8xYsLkPOhYiJViGfpKFbeUYT1FhGm3Y=:enc]" />
      </authentication>
    </security>
    -->
  </system.webServer>
  <!--<facebookSettings appId="196630497095913" appSecret="392fb545efeaf59ec9c62091de44e9ce"/>-->
</configuration>
